footer {
    height: 64px;
    background-color: #161619;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .icon {
    margin-right: 25px;
    font-size: 35px;
    color: #918E9b;

}

